<!--
 REFERENCES:

 Title: did_django_google_maps_api
 Author: Bobby Stearman
 Date: 04/16/2021
 Code version: N/A
 URL: https://www.youtube.com/watch?v=wCn8WND-JpU
 Software License: GPL-3.0 license
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Study Space</title>
		{% load bootstrap5 %} {# Load Bootstrap CSS #} {% bootstrap_css %} {% load bootstrap_icons %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	</head>
	<body class="background">
		{% include 'study_spaces/navbar.html' %}
		<div class="container-fluid col-md-8 col-lg-6 mx-auto mb-5">
			<h3 class="mt-4 mb-3">Edit Study Space</h3>

			<form method="post" class="form-multiline submission-section p-3" novalidate>
				{% csrf_token %} {% if error_message %}
				<p class="alert alert-danger"><strong>{{ error_message }}</strong></p>
				{% endif %}

                <div class="mb-3">
					<label for="id-name" class="form-label">Study Space Name:</label>
					<input required type="text" class="form-control" id="id-name" name="name" value="{{ study_space.name }}" placeholder="Rice Hall" />
				</div>
				<div class="mb-3">
					<label for="id-google-address" class="form-label">Address:</label>
					<input required type="text" class="form-control" size="50" id="id-google-address" name="address" value="{{ study_space.address }}" placeholder="Enter an Address..."/>
				</div>
				<input type="hidden" class="geo" id="id-lat" name="lat" value="" />
				<input type="hidden" class="geo" id="id-long" name="long" value="" />

				<p class="mt-3 mb-0">Amenities:</p>

				<div class="row">
					<div class="col-md-6">
						<div class="form-check p-0">
							<div class="row align-items-center">
								<div class="col-auto">{% bs_icon 'wifi' size='1.75em' extra_classes='feature-icon' %}</div>
								<div class="col">
									<input type="checkbox" class="form-check-input" id="id-has-wifi" name="has_wifi"  {% if study_space.has_wifi %}checked{% endif %}/>
									<label class="form-check-label" for="id-has-wifi">Wifi</label>
								</div>
							</div>
						</div>
						<div class="form-check p-0">
							<div class="row align-items-center">
								<div class="col-auto">{% bs_icon 'outlet' size='1.75em' extra_classes='feature-icon' %}</div>
								<div class="col">
									<input type="checkbox" class="form-check-input" id="id-has-outlets" name="has_outlets" {% if study_space.has_outlets %}checked{% endif %}/>
									<label class="form-check-label" for="id-has-outlets">Outlets</label>
								</div>
							</div>
						</div>
						<div class="form-check p-0">
							<div class="row align-items-center">
								<div class="col-auto">{% bs_icon 'printer' size='1.75em' extra_classes='feature-icon' %}</div>
								<div class="col">
									<input type="checkbox" class="form-check-input" id="id-has-printers" name="has_printers" {% if study_space.has_printers %}checked{% endif %}/>
									<label class="form-check-label" for="id-has-printers">Printers</label>
								</div>
							</div>
						</div>
						<div class="form-check p-0">
							<div class="row align-items-center">
								<div class="col-auto">{% bs_icon 'easel' size='1.75em' extra_classes='feature-icon' %}</div>
								<div class="col">
									<input type="checkbox" class="form-check-input" id="id-has-whiteboards" name="has_whiteboards" {% if study_space.has_whiteboards %}checked{% endif %}/>
									<label class="form-check-label" for="id-has-whiteboards">Whiteboards</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-check p-0">
							<div class="row align-items-center">
								<div class="col-auto">{% bs_icon 'bell-slash' size='1.75em' extra_classes='feature-icon' %}</div>
								<div class="col">
									<input type="checkbox" class="form-check-input" id="id-is-quiet" name="is_quiet" {% if study_space.is_quiet %}checked{% endif %}/>
									<label class="form-check-label" for="id-is-quiet">Quiet</label>
								</div>
							</div>
						</div>
						<div class="form-check p-0">
							<div class="row align-items-center">
								<div class="col-auto">{% bs_icon 'sun' size='1.75em' extra_classes='feature-icon' %}</div>
								<div class="col">
									<input type="checkbox" class="form-check-input" id="id-is-outside" name="is_outside" {% if study_space.is_outside %}checked{% endif %}/>
									<label class="form-check-label" for="id-is-outside">Outside</label>
								</div>
							</div>
						</div>
						<div class="form-check p-0">
							<div class="row align-items-center">
								<div class="col-auto">{% bs_icon 'cup' size='1.75em' extra_classes='feature-icon' %}</div>
								<div class="col">
									<input type="checkbox" class="form-check-input" id="id-has-food" name="has_food" {% if study_space.has_food %}checked{% endif %}/>
									<label class="form-check-label" for="id-has-food">Food Nearby</label>
								</div>
							</div>
						</div>
					</div>
				</div>
                <label for="location"><strong>Location:</strong></label>
				<textarea id="location" name="location" class="form-control w-100 mb-3">{{ study_space.location }}</textarea>
                <label for="environment"><strong>Environment:</strong></label>
				<textarea id="environment" name="environment" class="form-control w-100 mb-3">{{ study_space.environment }}</textarea>
                <label for="traffic"><strong>Traffic:</strong></label>
				<textarea id="traffic" name="traffic" class="form-control w-100 mb-3">{{ study_space.traffic }}</textarea>
                <label for="hours"><strong>Hours:</strong></label>
				<textarea id="hours" name="hours" class="form-control w-100 mb-3">{{ study_space.hours }}</textarea>
                <label for="other_information"><strong>Other Information:</strong></label>
				<textarea id="other_information" name="other_information" class="form-control w-100 mb-3">{{ study_space.other_information }}</textarea>
				<span class="d-flex justify-content-end">
					<a class="btn btn-secondary mx-2" href="{% url 'study_spaces:submission' %}">Cancel</a>
					<button type="button" class="btn secondary" id="submissionModalButton" data-bs-toggle="modal" data-bs-target="#submissionModal">
						Save
					</button>
				</span>

				<div class="modal fade" id="submissionModal" tabindex="-1" aria-labelledby="submissionModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="submissionModalLabel">Save Changes</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">Are you sure you want to save your changes?</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
								<button type="submit" class="btn secondary" data-bs-dismiss="modal">Save Changes</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

        <script>
			var google_api_key = "{{google_api_key|safe}}"
		</script>
		<script type="text/javascript">
            // https://github.com/bobby-didcoding/did_django_google_maps_api
			$.getScript("https://maps.googleapis.com/maps/api/js?key=" + google_api_key + "&libraries=places").done(function (script, textStatus) {
				google.maps.event.addDomListener(window, "load", initAutocomplete())
			})

			function initAutocomplete(callback) {
				let autocomplete = new google.maps.places.Autocomplete(document.getElementById("id-google-address"), {
					types: ["address"],
					componentRestrictions: {
						country: ["usa"],
					},
				})

				autocomplete.addListener("place_changed", () => {
					const place = autocomplete.getPlace()
					onPlaceChanged(place)
				})

                const place = autocomplete.getPlace()
				onPlaceChanged(place)
			}

			function onPlaceChanged(place) {
				let el_id = "id-google-address"
				let lat_id = "id-lat"
				let long_id = "id-long"
				var geocoder = new google.maps.Geocoder()
				var address = document.getElementById(el_id).value

				geocoder.geocode(
					{
						address: address,
					},
					function (results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
							var latitude = results[0].geometry.location.lat()
							var longitude = results[0].geometry.location.lng()
							$("#" + lat_id).val(latitude)
							$("#" + long_id).val(longitude)
						} else {
							$("#" + lat_id).val("")
							$("#" + long_id).val("")
						}
					}
				)
			}
		</script>
	</body>
</html>
