<!--
REFERENCES

 Title: Navbar
 Author: Bootstrap
 Date: N/A
 Code version: N/A
 URL: https://getbootstrap.com/docs/4.0/components/navbar/
 Software License: MIT
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NavBar</title>

		{% load static %} {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
		<link rel="stylesheet" type="text/css" href="{% static 'theme.css' %}" />
	</head>
	<body class="primary">
		<nav id="global-navbar" class="navbar navbar-expand-lg primary top-0" style="position: sticky; z-index: 2000;">
			<div class="container-fluid">
				<h1 class="navbar-brand m-2">UVAStudySpaces</h1>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarTogglerDemo02"
					aria-controls="navbarTogglerDemo02"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<p class="nav-link nav-item my-0">Menu</p>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item mx-2 my-1">
							<a class="nav-link {% if request.path == '/study/' %}nav-active{% endif %}" href="/study/">Home</a>
						</li>
						<li class="nav-item mx-2 my-1">
							<a class="nav-link" href="/study/closest">Find Closest Spaces</a>
						</li>
						<li class="nav-item mx-2 my-1">
							<a class="nav-link {% if '/directions' in request.path %}nav-active{% endif %}" href="{% url 'study_spaces:directions' %}">Directions</a>
						</li>
						<li class="nav-item mx-2 my-1">
							<a class="nav-link {% if '/submission' in request.path %}nav-active{% endif %}" href="/study/submission">{% if is_admin %}Submissions{% else %}Submit a Study Space{% endif %}</a>
						</li>
					</ul>
					<div class="nav-item dropdown float-end mx-2 py-1">
						<a class="dropdown-toggle d-flex align-items-center h-100" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="profile-name mx-2">Hello, {{ googleUser.name }}</span>
							<img src="{{ googleUser.picture }}" alt="User Profile Picture" class="profile-picture" />
						</a>
						<ul class="dropdown-menu dropdown-menu-end primary" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item nav-link" href="{% url 'study_spaces:profile' %}">Profile</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item nav-link" href="{% url 'study_spaces:logout' %}">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</body>
</html>